<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(pageTitle, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- tells mobile browser to display the  page corectly on mobile screen -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
    
    <title>[[${pageTitle}]] - [[${SITE_NAME}]]</title>
</head>

<body>

    <!-- th:remove="tag" means that this top level div will not be included with the fragment, only the content inside this div -->
    <div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">

        <div class="text-center m-1" th:if="${totalItems > 0}">
            <span>Showing [[${entityName}]] [[${startCount}]] to [[${endCount}]] from total of [[${totalItems}]]</span>
        </div>
        <!-- if total number of items is not > 0 display this -->
        <div class="text-center m-1" th:unless="${totalItems > 0}">
            <span>No [[${entityName}]] found</span>
        </div>

        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, 1, 'First')}" />
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, ${currentPage-1}, 'Previous')}" />
                    </li>

                    <!-- if you want to have all pages listed have the sequence from 1 to totalPages below; I would like to have just a few..hence the complicated sequence from below-->
                    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(currentPage+1>totalPages ? currentPage-1>0 ? currentPage-1 : 1 : currentPage, currentPage+1>totalPages ? totalPages :currentPage+1)}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, ${i}, ${i})}" />
                    </li>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, ${currentPage+1}, 'Next')}" />
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')}" />
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <a th:fragment="page_link(moduleURL, pageNumber, label)"
       class="page-link"
       th:href="@{${moduleURL}+'/page/'+${pageNumber} + '?sortField='+ ${sortField} + '&sortOrder=' + ${sortOrder} + ${keyword != null ? '&keyword=' + keyword : '' } }">
        [[${label}]]
    </a>

    <div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
