<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(pageTitle, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- tells mobile browser to display the  page corectly on mobile screen -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
    
    <title>[[${pageTitle}]]</title>
</head>

<body>


</body>

</html>
