<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(pageTitle, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- tells mobile browser to display the  page corectly on mobile screen -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/common.js}" ></script>

    <title>[[${pageTitle}]]</title>
</head>

<body>
    <th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a class="text-white"
           th:href="@{${moduleURL}+'/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortOrder=' + ${sortField != fieldName ? sortOrder : reverseSortOrder} + ${keyword != null ? '&keyword=' + keyword : '' } + ${categoryId != null ? '&categoryId=' + categoryId : ''} }" >
            [[${columnLabel}]]
        </a>

        <span th:if="${sortField == fieldName}"
              th:class="${sortOrder == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"> </span>
    </th>

    <a th:fragment="page_link(pageNumber, label)"
        class="page-link"
        th:href="@{${moduleURL}+'/page/'+${pageNumber} + '?sortField='+ ${sortField} + '&sortOrder=' + ${sortOrder} + ${keyword != null ? '&keyword=' + keyword : '' } + ${categoryId != null ? '&categoryId=' + categoryId : ''} }">
        [[${label}]]
    </a>

    <div th:fragment="status(enabled, entityName, moduleURL)" th:remove="tag">
        <a th:if="${enabled == true}" class="fa fa-check-circle fa-2x icon-green" th:href="@{${moduleURL} +'/enabled/false'}"
           th:title="'Disable this '+ ${entityName}">&nbsp</a>
        <a th:if="${enabled== false}" class="fa fa-circle fa-2x icon-dark" th:href="@{${moduleURL} +'/enabled/true'}"
           th:title="'Enable this '+ ${entityName}">&nbsp </a>
    </div>

    <div th:fragment="edit(entityName, editURL)" th:remove="tag">
        <a class="fa fa-edit fa-2x icon-green" th:href="@{${editURL}}" th:title="'Edit ' + ${entityName}">&nbsp </a>
    </div>
    <div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
        <th:block th:if="${visible}">
            <a class="fa fa-trash fa-2x icon-dark link-delete"
               th:href="@{${deleteURL}}"
               th:entityId="${entityId}"
               th:title="'Delete ' + ${entityName}">&nbsp;
            </a>
        </th:block>
    </div>
                <!-- th:remove="tag" means that this top level div will not be included with the fragment, only the content inside this div -->
    <div th:fragment="pagination(entityName)" th:remove="tag">

        <div class="text-center m-1" th:if="${totalItems > 0}">
            <span>Showing [[${entityName}]] [[${startCount}]] to [[${endCount}]] from total of [[${totalItems}]]</span>
        </div>
        <!-- if total number of items is not > 0 display this -->
        <div class="text-center m-1" th:unless="${totalItems > 0}">
            <span>No [[${entityName}]] found</span>
        </div>

        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(1, 'First')}" />
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${currentPage-1}, 'Previous')}" />
                    </li>

                    <!-- if you want to have all pages listed have the sequence from 1 to totalPages below; I would like to have just a few..hence the complicated sequence from below-->
                    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(currentPage+1>totalPages ? currentPage-1>0 ? currentPage-1 : 1 : currentPage, currentPage+1>totalPages ? totalPages :currentPage+1)}">
                        <a th:replace="~{fragments :: page_link(${i}, ${i})}" />
                    </li>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${currentPage+1}, 'Next')}" />
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="~{fragments :: page_link(${totalPages}, 'Last')}" />
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div th:fragment="search_form_and_message()">
        <form th:action="@{${moduleURL} + '/page/1'}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortOrder" th:value="${sortOrder}" />

            Filter:&nbsp;
            <input type="search" name="keyword" th:value="${keyword}" required class="form-control" />
            &nbsp;&nbsp;
            <button type="submit" value="Search" class="btn btn-primary" >
                <i class="fas fa-search"></i>
            </button>
            &nbsp;&nbsp;
            <button type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
                <i class="fas fa-eraser"></i>
            </button>
        </form>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
    </div>

    <div th:fragment="format_currency(amount)" th:remove="tag">
        <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">
            [[${CURRENCY_SYMBOL}]]
        </span>
        [[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
        <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">
            [[${CURRENCY_SYMBOL}]]
        </span>
    </div>

    <div th:fragment="format_time(dateTime)" th:remove="tag">
        <span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
    </div>


    <div th:fragment="footer" class="text-center m-3">
        <p>Shop control panel - Copyright &copy; Shopp</p>
    </div>

</body>

</html>
