<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Categories - Shop Admin')}" />

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL="[[@{/categories}]]"

   $(document).ready(function(){
       $(".link-delete").on("click",function(e){
           e.preventDefault();
           showDeleteConfirmModal($(this),'category');
       });
   });
</script>

<body>
    <!-- thisi is a bootstrap CSS class for corect display on mobile browsers -->
    <div class="container-fluid">

        <head th:replace="~{navigation :: menu}" />

        <div>
            <h2>Manage Categories</h2>
            <a th:href="@{/categories/new}" title="Create new Category" class="fa-solid fa-folder-plus fa-2x icon-dark mr-2" />
            <a th:href="@{/categories/export/csv}" title="Export to CSV" class="fa-solid fa-file-csv fa-2x icon-dark mr-2" />
            <a th:href="@{/categories/export/excel}" title ="Export to Excel" class="fa-solid fa-file-excel fa-2x icon-dark mr-2"></a>
            <a th:href="@{/categories/export/pdf}" title="Export to PDF" class="fa-solid fa-file-pdf fa-2x icon-dark mr-2"></a>
        </div>

        <div th:replace="~{fragments :: search_form_and_message('/categories/page/1')}" />

        <div class="full-details">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                        <th>ID</th>
                        <th>Category Image</th>
                        <th th:replace="~{fragments :: column_link('/categories','name', 'Category Name', 'none')}"  />
                        <th class="hideable-column">Alias</th>
                        <th>Enabled</th>

                        <th></th>
                </thead>
                <tbody>
                    <tr th:each="category : ${listCategories}">
                        <td th:text="${category.id}" ></td>
                        <td>
                            <img th:src="@{${category.ImagePath}}" style="width:100px" class="img-fluid" />
                        </td>
                        <td th:text="${category.name}" ></td>
                        <td th:text="${category.alias}" class="hideable-column"></td>
                        <td>
                            <div th:replace="~{fragments :: status(${category.enabled},'category','/categories/'+${category.id})}" />
                        </td>
                        <td >
                            <div th:replace="~{fragments :: edit('category','/categories/edit/'+${category.id})}" />
                            &nbsp;&nbsp;
                            <div th:replace="~{fragments :: delete('category',${category.id},'/categories/delete/'+${category.id}, ${!category.hasChildren})}" />

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="less-details">
            <h4>Showing category list on small phone screen</h4>
            <div th:each="category : ${listCategories}" class="row m-1">
                <div class="col-4">
                    <!-- below we are calling a method that returns the path to the photo ...so we can not only access fields, but also methods -->
                    <img th:src="@{${category.ImagePath}}" style="width:100px" class="image-fluid"/>
                </div>
                <div class="col-8">
                    <div>[[${category.name}]]</div>
                    <div class="mt-2">
                        <div th:replace="~{fragments :: status(${category.enabled},'category','/categories/'+${category.id})}" />

                        <div th:replace="~{fragments :: edit('category','/categories/edit/'+${category.id})}" />
                        &nbsp;&nbsp;
                        <div th:replace="~{fragments :: delete('category',${category.id},'/categories/delete/'+${category.id}, ${!category.hasChildren})}" />

                    </div>
                </div>
            </div>
        </div>

        <!-- because when using the search/filter functionality, we show all categories and subcategories, and the message
         needs to reflect that -->
        <div th:if="${keyword != null}" class="text-center">
            <span>Search result does not show results in hierarchical form</span>
            <div th:replace="~{fragments :: pagination('/categories','categories')}" />
        </div>
        <th:block th:unless="${keyword != null}">
            <div th:replace="~{fragments :: pagination('/categories','top level categories')}" />
        </th:block>

        <div th:replace="~{fragments_modal :: confirm_modal}" />

        <div th:replace="~{fragments :: footer}" />

    </div>
</body>

</html>