<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Categories - Shop Admin')}" />

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL="[[@{/categories}]]"

   $(document).ready(function(){
       $(".link-delete").on("click",function(e){
           e.preventDefault();
           showDeleteConfirmModal($(this),'category');
       });
   });
</script>

<body>
    <!-- thisi is a bootstrap CSS class for corect display on mobile browsers -->
    <div class="container-fluid">

        <head th:replace="~{navigation :: menu}" />

        <div>
            <h2>Manage Categories</h2>
            <a th:href="@{/categories/new}" title="Create new Category" class="fa-solid fa-folder-plus fa-2x icon-dark mr-2" />
            <a th:href="@{/categories/export/csv}" title="Export to CSV" class="fa-solid fa-file-csv fa-2x icon-dark mr-2" />
            <a th:href="@{/categories/export/excel}" title ="Export to Excel" class="fa-solid fa-file-excel fa-2x icon-dark mr-2"></a>
            <a th:href="@{/categories/export/pdf}" title="Export to PDF" class="fa-solid fa-file-pdf fa-2x icon-dark mr-2"></a>
        </div>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div th:replace="~{fragments :: search_form('/categories/page/1')}" />

        <div class="full-details">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                        <th class="hideable-column">
                            <th th:replace="~{fragments :: column_link('id', 'Id', 'tag')}"  />
                        </th>

                        <th>Category Image</th>

                        <th>
                            <a th:href="@{'/categories/page/' + ${currentPage} +'?sortOrder=' +${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : '' }}" class="text-white" >Category Name</a>
                            <span th:class="${sortOrder == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"> </span>
                        </th>

                        <th>Alias</th>
                        <th>Enabled</th>

                        <th></th>
                </thead>
                <tbody>
                    <tr th:each="category : ${listCategories}">
                        <td th:text="${category.id}" class="hideable-column"></td>
                        <td>
                            <img th:src="@{${category.ImagePath}}" style="width:100px" class="img-fluid" />
                        </td>
                        <td th:text="${category.name}" ></td>
                        <td th:text="${category.alias}"></td>
                        <td>
                            <a th:if="${category.enabled == true}" class="fa fa-check-circle fa-2x icon-green" th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
                               title="Disable this category">&nbsp</a>
                            <a th:if="${category.enabled == false}" class="fa fa-circle fa-2x icon-dark" th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
                               title="Enable this category">&nbsp </a>
                        </td>
                        <td >
                            <div th:replace = "~{fragments :: category_actions}" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- because when using the search/filter functionality, we show all categories and subcategories, and the message
         needs to reflect that -->
        <div th:if="${keyword != null}" class="text-center">
            <span>Search result does not show results in hierarchical form</span>
            <div th:replace="~{fragments :: pagination('/categories','categories')}" />
        </div>
        <th:block th:unless="${keyword != null}">
            <div th:replace="~{fragments :: pagination('/categories','top level categories')}" />
        </th:block>

        <div th:replace="~{fragments_modal :: confirm_modal}" />

        <div th:replace="~{fragments :: footer}" />

    </div>
</body>

</html>