<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head(${pageTitle},'none')}" />

<script th:src="@{/js/common_form.js}"></script>
<script type="text/javascript">

    moduleUrl = "[[@{/users}]]";    // need to do this, because in common_form.js where moduleUrl is used, we can't specify the url with thymeleaf

    // below is an ajax call to the REST controller from the server made in order to check if the email is already
    // used or not
    function checkEmailIsUnique(form){
        url = "[[@{/users/check_email}]]";
        userEmail = $("#email").val();              // this is because this is the id of the email field, and we get the value of the field
        csrf = $("input[name='_csrf']").val();      // needed because otherwise we get a 403 Forbidden error. If you check with DevTools you will see a forbidden field with this id in the form.
        userId = $("#id").val();

        params = {id:userId ,email: userEmail, _csrf: csrf}

        $.post(url, params, function(response){
            console.log("callback means call to the server was made");
            if (response=="OK"){
                form.submit();
            } else if (response =="Duplicated"){
                showWarningModal("There is another user with the same email " + userEmail);
            } else {
                showErrorModal("Unknown response from server");
            }
        });
        return false;
    }



</script>

<body>
<!-- thisi is a bootstrap CSS class for corect display on mobile browsers -->
<div class="container-fluid">

    <head th:replace="~{navigation :: menu}" />

    <div>
        <h2>Manage Users | [[${pageTitle}]]</h2>
    </div>

    <div>
       <form th:action="@{/users/save}" method="post" th:object="${user}"
             enctype="multipart/form-data"
             style="max-width: 700px; margin: 0 auto"
             onsubmit="return checkEmailIsUnique(this);">
           <input type="hidden" th:field="*{id}" />

           <div class="border border-secondary rounded p-3">
               <div class="form-group row">
                   <label class="col-sm-4 col-form-label">Email</label>
                   <div class="col-sm-8">
                       <input type="email" th:field="*{email}" class="form-control"
                              required minlength="6" maxlength="200" />
                   </div>
               </div>

               <div class="form-group row">
                   <label class="col-sm-4 col-form-label">First name</label>
                   <div class="col-sm-8">
                       <input type="text" th:field="*{firstName}" class="form-control"
                              required minlength="1" maxlength="200" />
                   </div>
               </div>

               <div class="form-group row">
                   <label class="col-sm-4 col-form-label">Last name</label>
                   <div class="col-sm-8">
                       <input type="text" th:field="*{lastName}" class="form-control"
                              required minlength="1" maxlength="200" />
                   </div>
               </div>

               <div class="form-group row">
                   <label class="col-sm-4 col-form-label">Password</label>
                   <div class="col-sm-8">
                       <!-- this means that the we are creating a new user, and so we need to have the password field required -->
                       <input th:if="${user.id == null}" type="password" th:field="*{password}" class="form-control"
                              required minlength="10" maxlength="200" />
                        <!-- this means that we are editing a user...and when we do that, we don't want the user to be required to renter the password -->
                       <input th:if="${user.id != null}" type="password" th:field="*{password}" class="form-control"
                              minlength="10" maxlength="200" />
                   </div>
               </div>

               <div class="form-group row">
                   <label class="col-sm-4 col-form-label">Roles</label>
                   <div class="col-sm-8">
                       <th:block th:each="role : ${listRoles}">
                           <!-- because the name of the User field for roles is "roles" -->
                           <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" class="m-2">
                           - <small th:text="${role.description}"/> <br />
                       </th:block>
                   </div>
               </div>

               <div class="form-group row">
                   <label class="col-sm-4 col-form-label">Enabled</label>
                   <div class="col-sm-8">
                       <input type="checkbox" th:field="*{enabled}" />
                   </div>
               </div>

               <div class="form-group row">
                   <label class="col-sm-4 col-form-label">Photo</label>
                   <div class="col-sm-8">
                       <!-- the hidden field below is needed in case an editing is performed, where other fields besides photo field, are edited, and we want to preserve the previously set photo-->
                       <input type="hidden" th:field="*{photo}" />
                       <input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" class="mb-2"/>
                        <img id="thumbnail" alt="Photos preview" th:src="@{${user.PhotosImagePath}}"
                            class="img-fluid" />

                   </div>
               </div>

               <div class="text-center">
                   <input type="submit" value="Save" class="btn btn-primary m-3" />
                   <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
               </div>
           </div>
       </form>
    </div>

    <!-- dialog that appears when there are duplicate email in the DB -->
    <div th:replace="~{fragments_modal :: modal_dialog}" />

    <div th:replace="~{fragments :: footer}" />
</div>
</body>
</html>