<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head('Users - Shop Admin')}" />



<body>
    <!-- thisi is a bootstrap CSS class for corect display on mobile browsers -->
    <div class="container-fluid">

        <head th:replace="~{navigation :: menu}" />

        <div>
            <h2>Manage Users</h2>
            <a th:href="@{/users/new}" title="Create new user" class="fa-solid fa-user-plus fa-2x icon-dark mr-2" />
            <a th:href="@{/users/export/csv}" title="Export to CSV" class="fa-solid fa-file-csv fa-2x icon-dark mr-2" />
            <a th:href="@{/users/export/excel}" title ="Export to Excel" class="fa-solid fa-file-excel fa-2x icon-dark mr-2"></a>
            <a th:href="@{/users/export/pdf}" title="Export to PDF" class="fa-solid fa-file-pdf fa-2x icon-dark mr-2"></a>
        </div>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div th:replace="~{fragments :: search_form('/users/page/1')}" />

        <div class="full-details">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                        <th class="hideable-column">
                            <th th:replace="~{fragments :: column_link('id', 'User Id', 'tag')}"  />
                        </th>

                        <th>Photos</th>

                        <th class="hideable-column">
                            <th th:replace="~{fragments :: column_link('email', 'Email', 'tag')}" />
                        </th>

                        <th th:replace="~{fragments :: column_link('firstName', 'First name', 'none')}" />

                        <th th:replace="~{fragments :: column_link('lastName', 'Last name', 'none')}" />

                        <!-- idk if it makes sense for roles... -->
                        <th th:replace="~{fragments :: column_link('roles', 'Roles', 'none')}" />

                        <th th:replace="~{fragments :: column_link('enabled', 'Enabled', 'none')}" />

                        <th></th>
                </thead>
                <tbody>
                    <tr th:each="user : ${listUsers}">
                        <td th:text="${user.id}" class="hideable-column"></td>
                        <td>
                            <span th:if="${user.photo == null}"  class="fas fa-portrait fa-3x icon-silver"></span>
                            <!-- below we are calling a method that returns the path to the photo ...so we can not only access fields, but also methods -->
                            <img th:if="${user.photo != null}"  th:src="@{${user.PhotosImagePath}}" style="width:75px"/>
                        </td>
                        <td th:text="${user.email}" class="hideable-column"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.roles}"></td>
                        <td>
                            <a th:if="${user.enabled == true}" class="fa fa-check-circle fa-2x icon-green" th:href="@{'/users/'+${user.id} +'/enabled/false'}"
                                title="Disable this user">&nbsp</a>
                            <a th:if="${user.enabled == false}" class="fa fa-circle fa-2x icon-dark" th:href="@{'/users/'+${user.id} +'/enabled/true'}"
                                title="Enable this user">&nbsp </a>
                        </td>
                        <td >
                            <a class="fa fa-edit fa-2x icon-green" th:href="@{'/users/edit/'+${user.id}}" title="Edit User">&nbsp </a>
                            <a class="fa fa-trash fa-2x icon-dark link-delete"
                               th:href="@{'/users/delete/'+${user.id}}"
                               th:entityId="${user.id}"
                               title="Delete User">&nbsp;
                            </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="less-details">
            <h3>Showing user list on small phone screen</h3>
            <div th:each="user : ${listUsers}" class="row m-1">
                <div class="col-4">
                    <span th:if="${user.photo == null}"  class="fas fa-portrait fa-3x icon-silver"></span>
                    <!-- below we are calling a method that returns the path to the photo ...so we can not only access fields, but also methods -->
                    <img th:if="${user.photo != null}"  th:src="@{${user.PhotosImagePath}}" style="width:75px"/>
                </div>
                <div class="col-8">
                    <div>[[${user.FullName}]]</div>
                    <div>[[${user.roles}]]</div>
                    <div class="mt-1">
                        <a th:if="${user.enabled == true}" class="fa fa-check-circle fa-2x icon-green" th:href="@{'/users/'+${user.id} +'/enabled/false'}"
                           title="Disable this user">&nbsp</a>
                        <a th:if="${user.enabled == false}" class="fa fa-circle fa-2x icon-dark" th:href="@{'/users/'+${user.id} +'/enabled/true'}"
                           title="Enable this user">&nbsp </a>
                        &nbsp;
                        <a class="fa fa-edit fa-2x icon-green" th:href="@{'/users/edit/'+${user.id}}" title="Edit User">&nbsp </a>
                        <a class="fa fa-trash fa-2x icon-dark link-delete"
                           th:href="@{'/users/delete/'+${user.id}}"
                           th:userId="${user.id}"
                           title="Delete User">&nbsp;
                        </a>
                    </div>
                </div>
                <div>&nbsp;</div>
            </div>
        </div>

        <div th:replace="~{fragments :: pagination('/users','users')}" />

        <!-- dialog that appears when there are duplicate email in the DB -->
        <div th:replace="~{fragments_modal :: confirm_modal}" />

        <div th:replace="~{fragments :: footer}" />

    </div>
</body>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    moduleURL = "[[@{/users}]]";

    $(document).ready(function(){
        $(".link-delete").on("click",function(e){
           e.preventDefault();
           showDeleteConfirmModal($(this),'user');
        });

    });
</script>

</html>