<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: page_head(${pageTitle},'none')}" />

<body>
<!-- thisi is a bootstrap CSS class for corect display on mobile browsers -->
<div class="container-fluid">

    <head th:replace="~{navigation :: header_menu}" />
    <head th:replace="~{navigation :: search_nav}" />

    <div th:replace="~{breadcrumb :: content}" />

    <div class="row text-center">
        <th:block th:each="cat : ${category.children}">
            <div class="col" th:if="${cat.enabled == true}">
                <a th:href="@{'/c/'+${cat.alias}}">
                    <img th:src="@{${cat.imagePath}}" height="100px" />
                    <br />
                    [[${cat.name}]]
                </a>
            </div>
        </th:block>
    </div>

    <div class="row">
        &nbsp;
    </div>

    <div class="row">
        <th:block th:each="product : ${listProducts}">
            <div th:replace="~{product/product_fragment :: content}" />
        </th:block>
    </div>

    <div th:replace="~{fragments :: pagination('/c/' + ${category.alias},'product')}" />

    <div th:replace="~{navigation :: footer_menu}" />

</div>
</body>
</html>