<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments :: page_head('Products - Shop Admin','none')}" />

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL="[[@{/products}]]"

   $(document).ready(function(){
       $(".link-delete").on("click",function(e){
           e.preventDefault();
           showDeleteConfirmModal($(this),'product');
       });

       $(".link-detail").on("click",function(e){
           e.preventDefault();
           linkDetailUrl = $(this).attr("href");
           $("#detailModal").modal("show").find(".modal-content").load(linkDetailUrl);
       });

       $("#dropdownCategory").on("change", function(){
            $("#searchForm").submit();
       });

   });
</script>

<body>
    <!-- thisi is a bootstrap CSS class for corect display on mobile browsers -->
    <div class="container-fluid">

        <head th:replace="~{navigation :: menu}" />

        <div>
            <h2>Manage Products</h2>
            <th:block sec:authorize="hasAnyAuthority('admin', 'Editor')">
                <a th:href="@{/products/new}" title="Create new Product" class="fa-solid fa-folder-plus fa-2x icon-dark mr-2" />
                <a th:href="@{/products/export/csv}" title="Export to CSV" class="fa-solid fa-file-csv fa-2x icon-dark mr-2" />
                <a th:href="@{/products/export/excel}" title ="Export to Excel" class="fa-solid fa-file-excel fa-2x icon-dark mr-2"></a>
                <a th:href="@{/products/export/pdf}" title="Export to PDF" class="fa-solid fa-file-pdf fa-2x icon-dark mr-2"></a>
            </th:block>
        </div>

        <div>
            <form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
                <input type="hidden" name="sortField" th:value="${sortField}" />
                <input type="hidden" name="sortOrder" th:value="${sortOrder}" />

                Category:&nbsp;
                <select class="form-control" name="categoryId" id="dropdownCategory">
                    <option value="0">All Categories</option>
                    <th:block th:each="category : ${listCategories}">
                        <option th:value="${category.id}" th:selected="(${categoryId} == ${category.id})">[[${category.name}]]</option>
                    </th:block>
                </select>&nbsp;&nbsp;

                Filter:&nbsp;
                <input type="search" name="keyword" th:value="${keyword}" required class="form-control" />
                &nbsp;&nbsp;
                <button type="submit" value="Search" class="btn btn-primary" >
                    <i class="fas fa-search"></i>
                </button>
                &nbsp;&nbsp;
                <button type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">
                    <i class="fas fa-eraser"></i>
                </button>
            </form>

            <div th:if="${message != null}" class="alert alert-success text-center">
                [[${message}]]
            </div>
        </div>

        <div class="full-details">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead class="thead-dark">
                        <th class="hideable-column">
                            <th th:replace="~{fragments :: column_link('/products','id', 'ID', 'tag')}" />
                        </th>

                        <th>Main Image</th>
                        <th th:replace="~{fragments :: column_link('/products','name', 'Product Name', 'none')}"  />
                        <th class="hideable-column">
                            <th th:replace="~{fragments :: column_link('/products','brand', 'Brand', 'tag')}"  />
                        </th>
                        <th class="hideable-column">
                            <th th:replace="~{fragments :: column_link('/products','category', 'Category', 'tag')}"  />
                        </th>
                        <th:block sec:authorize="hasAnyAuthority('admin', 'Editor')">
                            <th>Enabled</th>
                        </th:block>
                        <th></th>
                </thead>
                <tbody>
                    <tr th:each="product : ${listProducts}">
                        <td class="hideable-column">[[${product.id}]]</td>
                        <td>
                            <img th:src="@{${product.MainImagePath}}" style="width:120px" class="img-fluid"/>
                        </td>
                        <td>
                            <a class="link-detail" th:href="@{'/products/detail/'+${product.id} }" th:title="${product.name}">&nbsp;
                            [[${product.ProductShortName}]]
                            </a>
                        </td>
                        <td class="hideable-column" >[[${product.brand.name}]]</td>
                        <td class="hideable-column" >[[${product.category.name}]]</td>
                        <th:block sec:authorize="hasAnyAuthority('admin', 'Editor')">
                            <td>
                                <div th:replace="~{fragments :: status(${product.enabled},'product','/products/'+${product.id})}" />
                            </td>
                        </th:block>
                        <td >
                            <a class="fas fa-file-alt fa-2x icon-green link-detail" th:href="@{'/products/detail/'+${product.id} }"
                               title="View details of product">&nbsp;</a>
                            <th:block sec:authorize="hasAnyAuthority('admin', 'Editor','Salesperson')">&nbsp;&nbsp;
                                <div th:replace="~{fragments :: edit('product','/products/edit/'+${product.id})}" />
                            </th:block>
                            <th:block sec:authorize="hasAnyAuthority('admin', 'Editor')">&nbsp;&nbsp;
                                <div th:replace="~{fragments :: delete('product',${product.id},'/products/delete/'+${product.id}, true)}" />
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="less-details">
            <h4>Showing product list on small phone screen</h4>
            <div th:each="product : ${listProducts}" class="row m-1">
                <div class="col-4">
                    <!-- below we are calling a method that returns the path to the photo ...so we can not only access fields, but also methods -->
                    <img th:src="@{${product.MainImagePath}}" style="width:80px" class="image-fluid"/>
                </div>
                <div class="col-8">
                    <div>
                        <a class="link-detail" th:href="@{'/products/detail/'+${product.id} }"
                           title="View details of product">[[${product.ProductShortName}]]</a>
                    </div>
                    <div class="mt-2">
                        <a class="fas fa-file-alt fa-2x icon-green link-detail" th:href="@{'/products/detail/'+${product.id} }"
                           title="View details of product"></a>
                        <th:block sec:authorize="hasAnyAuthority('admin', 'Editor','Salesperson')">&nbsp;&nbsp;
                            <div th:replace="~{fragments :: edit('product','/products/edit/'+${product.id})}" />
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('admin', 'Editor')">&nbsp;&nbsp;
                            <div th:replace="~{fragments :: delete('product',${product.id},'/products/delete/'+${product.id}, true)}" />
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments :: pagination('/products','products')}" />

        <div th:replace="~{fragments_modal :: confirm_modal}" />

        <div class="modal fade" id="detailModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                </div>
            </div>
        </div>

        <div th:replace="~{fragments :: footer}" />

    </div>
</body>

</html>