<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>  <!-- we remove head tag from inserted tag, because we want to make the page_head fragment extensible, since we need to include js libs here for rich text, that are not needed in other files -->
    <head th:replace="~{fragments :: page_head(${pageTitle}, 'tag')}" />

    <link rel="stylesheet" type="text/css" th:href="@{/richtext/richtext.min.css}" />

    <script type="text/javascript" th:src="@{/richtext/jquery.richtext.min.js}" ></script>
</head>
<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/product_form_overview.js}"></script>
<script th:src="@{/js/product_form_images.js}"></script>
<script th:src="@{/js/product_form_details.js}"></script>
<script type="text/javascript">
    MAX_FILE_SIZE=5000000       //5 MB

    moduleUrl = "[[@{/products}]]";    // need to do this, because in common_form.js where moduleUrl is used, we can't specify the url with thymeleaf
    checkUniqueUrl = "[[@{/products/check_unique}]]"; // need to do this, because in common_form.js where moduleUrl is used, we can't specify the url with thymeleaf
    brandModuleUrl = "[[@{/brands}]]";     // need to do this, because in common_form.js where moduleUrl is used, we can't specify the url with thymeleaf

    // because we can't use thymeleaf in js code, we declare this variable here, and use it in product_form.js
    defaultThumbnailImageSrc = "[[@{/images/image-thumbnail.png}]]"

</script>

<body>
<!-- thisi is a bootstrap CSS class for corect display on mobile browsers -->
<div class="container-fluid">

    <head th:replace="~{navigation :: menu}" />

    <div>
        <h2>Manage Products | [[${pageTitle}]]</h2>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/products/save}" method="post" th:object="${product}"
              enctype="multipart/form-data"
              onsubmit="return checkUnique(this)">
            <input type="hidden" th:field="*{id}" />
            <input th:if="${product.category != null}" type="hidden" id="categoryId" th:value="${product.category.id}" />

            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#overview" role="tab" >Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#description" role="tab" >Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#images" role="tab" >Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#details" role="tab" >Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active p-3" id="overview" role="tabpanel">
                        <div th:replace="~{products/product_overview :: content}" />
                    </div>
                    <div class="tab-pane" id="description" role="tabpanel" >
                        <th:block sec:authorize="hasAnyAuthority('Salesperson')">
                            <div th:replace="~{products/product_description_readonly :: content}" />
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('admin', 'Editor')">
                            <div th:replace="~{products/product_description :: content}" />
                        </th:block>
                    </div>
                    <div class="tab-pane" id="images" role="tabpanel" >
                        <th:block sec:authorize="hasAnyAuthority('Salesperson')">
                            <div th:replace="~{products/product_images_readonly :: content}" />
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('admin', 'Editor')">
                            <div th:replace="~{products/product_images :: content}" />
                        </th:block>
                    </div>
                    <div class="tab-pane p-3" id="details" role="tabpanel" >
                        <th:block sec:authorize="hasAnyAuthority('admin', 'Editor')">
                            <div th:replace="~{products/product_details :: content}" />
                            <div>
                                <input type="button" class="btn btn-secondary"
                                       value="Add more details"
                                        onclick="addNextDetailSection()"/>
                            </div>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Salesperson')">
                            <div th:replace="~{products/product_details_readonly :: content}" />
                        </th:block>
                    </div>
                    <div class="tab-pane p-3" id="shipping" role="tabpanel" >
                        <th:block sec:authorize="hasAnyAuthority('admin', 'Editor')">
                            <div th:replace="~{products/product_shipping :: content}" />
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('Salesperson')">
                            <div th:replace="~{products/product_shipping_readonly :: content}" />
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3" />
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
            </div>

        </form>
    </div>

    <!-- dialog that appears when there are duplicate brand names or aliases in the DB -->
    <div th:replace="~{fragments_modal :: modal_dialog}" />

    <div th:replace="~{fragments :: footer}" />
</div>
</body>
</html>